@using Labs.Mvc.Models
@model IList<TermsModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        @foreach( var term in Model) {
            <p>@term.Description</p>
        }
    </div>
</div>
